body {
    font-family: "Poetsen One", sans-serif;
}

#ob {
    font-size: 15px;
    color: #F97300;
    margin: 5px;
}


#MenesajeB {
    color: white;
    font-size: 60px;
    background-color: #153448;
    text-align: center;
    margin: 60px 50px 80px 50px;
    padding: 40px;
    border-radius: 20px;
}


.oferta {
    background: #153448;
    color: white;
    font-size: 40px;
    margin: 60px 50px 80px 50px;
    text-align: center;
    border-radius: 20px;

}

h1 {
    color: black;
    font-size: 20px;
}

.precio {
    font-size: 30px;
    color: #76ABAE;
}

.reprecio {
    background: #F97300;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.reprecio:hover {
    background: #3C5B6F;

}

.columna2 {
    background: #31363F;
    color: white;
    border: 1px solid #F97300;
    margin: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
    display: block;

}

.Columna {
    background: #31363F;
    color: white;
    border: 1px solid #F97300;
    padding: 25px;
    width: 20%;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
}

ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.posi {
    background: #31363F;
    color: white;
    border: 1px solid #F97300;
    padding: 25px;
    width: 50%;
    margin: 20px auto;
    border-radius: 5px;
    text-align: justify;
}




.nav-enlace {
    background: #4D869C;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
}

/* Cambia el fondo del coso cuando se selecciona */
.nav-enlace:hover {
    background: #153448;
}

/* se ajusta la posicion */
nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.boton {
    background: #153448;
    color: antiquewhite;
    padding: 10px 0;
    border: 2px solid #4D869C;
    display: none;
    margin: 10px;
    border-radius: 20px;
}

.boton:hover {
    background: #4D869C;
}

.container {
    margin: 0 auto;
    width: 450px;
}

.flez {
    display: flex;
    flex-wrap: wrap;
}

.text {
    text-align: center;

}

/* Sirve para poder ajustar el tamaño de la pagina cuando se pasa de pc a celular */
@media (max-width: 420px) {
    nav {
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px 0;
    }

    .boton {
        display: inline-block;
    }

    .desaparece {
        display: none;
    }

    #MenesajeB {
        color: white;
        font-size: 35px;
        background-color: #153448;
        text-align: center;
        margin: 50px 55px 50px 55px;
        padding: 40px;
        border-radius: 20px;
        display: flex;
    }

    .oferta {
        background: #153448;
        color: white;
        font-size: 35px;
        margin: 50px 55px 50px 55px;
        text-align: center;
        border-radius: 20px;

    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    .Columna {
        background: #31363F;
        color: white;
        border: 1px solid #F97300;
        padding: 25px;
        width: 80%;
        margin: 15px 0;
        border-radius: 5px;
        text-align: center;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 5px;
        text-align: center;
        box-shadow: 5px 5px 5px #3C5B6F;
    }

    .columna2 {
        background: #31363F;
        color: white;
        border: 1px solid #F97300;
        margin: 15px;
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        box-shadow: 10px 10px 5px black;
        display: inline-block;

    }

    .reposi {
        background: #31363F;
        color: white;
        border: 1px solid #F97300;
        padding: 25px;
        width: 80%;
        margin: 20px auto;
        border-radius: 5px;
        text-align: justify;
    }
}